* {
  margin: 0px;
}

/* 
  .Learn {
    border: 0;
    margin-top: 50px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgb(37, 220, 0);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .Learn:hover {
    background-color: rgb(255, 240, 30);
  }
  
  .Learn:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6); */

.headingH1 {
  padding-top: 180px;
  justify-content: center;
  font-weight: 600;
  font-size: 5em;
  color: rgb(3, 141, 3);
  font-family: sans-serif;


}



.top {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  color: rgb(1, 75, 1);
  font-family: sans-serif;
 font-weight: bolder;
}




/* .image1{
  height: 600px;
  max-width: 100%;
} */

.hero {
  background-image: url('../../asset/farmers.png');
  background-size: cover;
  background-position: contain;
  height: 100vh;
  /* Adjust the height as needed */
  align-items: center;
  text-align: center;
}

/* color: white;
} */

.intro {
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
  font-family: sans-serif;
  color: +
  rgb(38, 77, 1);
}


/* .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  font-size: large;
} */


 .learnButton {
  margin-top: 50px;
  width: 10rem;
  height: 2rem;
  background-color: #c5cb08;
  line-height: 15px;
  font-size: 15px;
  border: 1px solid rgb(251, 252, 251);
  outline: none;
  border-radius: 5px;
}

.learnButton:hover {
  background-color: green;
  border: outset #c5cb08;
  cursor: pointer; 
}